{% extends "layout.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-1 p-3 bg-light border-right">
            <div class="sidebar">
                <!-- Sidebar content, links, etc. -->
            </div>
        </div>

        <!-- Main Content -->
        
        <div class="col-md-10">
            <div class="main-content">
                <!-- Your charts, graphs, and other content go here -->
                <h2 class="display-5 text-center">Federal Reserve Data Visualizer</h2>
                <div class="row my-2">
                    <div class="col-6 ">
                        <div class="card">
                            <div class="card-body">
                                <h5>My Chart1</h5>
                                <hr>
                                <div>
                                    <canvas id="myChart1"></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>
                
                    <div class="col-6 ">
                        <div class="card">
                            <div class="card-body">
                                <h5>My Chart2</h5>
                                <hr>
                                <div>
                                    <canvas id="myChart2"></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h5>My Chart3</h5>
                                <hr>
                                <div>
                                    <canvas id="myChart3"></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>
                
                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h5>My Chart4</h5>
                                <hr>
                                <div>
                                    <canvas id="myChart4"></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-4 ">
                        <div class="card">
                            <div class="card-body">
                                <h5>My Chart5</h5>
                                <hr>
                                <div>
                                    <canvas id="myChart5"></canvas>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
      
{% endblock %}
