{% extends "layout.html" %}

{% block content %}
<h2>Grid Test with bootstrap</h2>
<div class="container">
    <div class="row">
      <div class="col bg-primary text-white p-3 border border-dark">
        1 of 2
      </div>
      <div class="col bg-primary text-white p-3 border border-dark">
        2 of 2
      </div>
    </div>
    <div class="row mt-3">
      <div class="col bg-warning text-dark p-3 border border-dark">
        1 of 3
      </div>
      <div class="col bg-success text-white p-3 border border-dark">
        2 of 3
      </div>
      <div class="col bg-danger text-white p-3 border border-dark">
        3 of 3
      </div>
    </div>
  </div>
{% endblock %}
